[Unit]
Description=Remove ~/explicit_filter.restore

[Service]
Restart=always
ExecStart=/bin/sh -c '${HOME}/.local/bin/explicit_filter_remover'

[Install]
WantedBy=default.target
