* {
  font-family:
    JetBrainsMono Nerd Font,
    sans-serif;
  font-size: 14;
  font-weight: 500;
}

window#waybar {
  border: 3px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.85);
  margin: 0px 5px 2px 5px;
  border-radius: 0px;
}

.modules-right widget>* {
  padding: 0 0.8em;
}

.modules-left widget>* {
  padding: 0 0.8em 0 0;
}

widget #tray {
  font-size: 1;
  padding: 0;
}

#cpu,
#power-profiles-daemon,
#custom-recording,
#memory,
#temperature,
#tray,
#clock,
#backlight,
#battery,
#network,
#custom-spotify,
#pulseaudio {
  margin: 5px 5px 0px 5px;
  /*background-color: #1e1e2e;*/
  border-radius: 5px;
}

#battery.critical {
  background: rgba(218, 88, 88, 0.3);
}
