environment {
  QT_QPA_PLATFORM "wayland"
  XDG_CURRENT_DESKTOP "niri"
  ZED_WINDOW_DECORATIONS "server"
  XDG_SESSION_TYPE "wayland"
  MANGOHUD "0"
  MANGOHUD_DLSYM "1"
  EDITOR "nvim"
}

prefer-no-csd

spawn-at-startup "waybar"
spawn-at-startup "vicinae" "server"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "warp-taskbar"

spawn-at-startup "sh" "-c" "while true; do ram_usage=$(free | awk '/Mem:/ {printf(\"%d\", $3/$2 * 100)}'); [ \"$ram_usage\" -ge 90 ] && notify-send \"RAM Warning\" \"Memory usage is at ${ram_usage}%!\"; sleep 30; done &"

screenshot-path "~/Pictures/screenshots/%Y-%m-%d %H-%M-%S.png"

spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-theme" "phinger-cursors-light"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-size" "24"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "color-scheme" "prefer-dark"
// spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "gtk-theme" "Colloid-Dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "icon-theme" "Colloid-dark"



hotkey-overlay {
  skip-at-startup
}


input {
  keyboard {
    xkb {
      layout "us"
      options "ctrl:ralt_rctrl"
    }
    repeat-delay 300
    repeat-rate 100
  }

  touchpad {
    // off
    dwt
    dwtp
    natural-scroll
    accel-speed 0.4
    tap
  }

  mouse {
    accel-speed 0.4
  }

  trackpoint {
    accel-speed 0.0
  }
  focus-follows-mouse
}

output "eDP-1" {
  mode "1920x1080@59.999"
  scale 1
  transform "normal"
  position x=0 y=0
}

output "HDMI-A-1" {
  mode "1920x1080@60"
  scale 1.2
  transform "normal"
  position x=1920 y=0
}

layout {
  background-color "transparent"
  gaps 8
  center-focused-column "always"
  // center-focused-column "never"

  focus-ring {
    off
  }
  preset-column-widths {
    // proportion 0.25
    proportion 0.5
    proportion 0.75
    proportion 1.0
  }

  insert-hint {
    color "#FFFFFF10"
  }

  tab-indicator {
    hide-when-single-tab
    place-within-column
    gap 8
    width 3
    length total-proportion=0.6
    position "left"
    gaps-between-tabs 20
    corner-radius 10
    active-color "#8B76EA"
    inactive-color "#FFFFFF20"
  }
}

recent-windows {
  open-delay-ms 150

  highlight {
    active-color "#FFFFFF10"
    urgent-color "#FF878710"
    padding 20
    corner-radius 10
  }
}

overview {
  backdrop-color "#1e1e1e"
  zoom 0.4
  workspace-shadow {
    off
    softness 100
    spread 4
    offset x=20 y=20
  }
}

gestures {
  hot-corners {
    off
    bottom-left
  }
}

cursor {
  xcursor-theme "phinger-cursors-light"
  xcursor-size 24
  hide-when-typing
}

animations {
  workspace-switch {
    spring damping-ratio=1.0 stiffness=2000 epsilon=0.0001
  }
  horizontal-view-movement {
    spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
  }
  window-movement {
    spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
  }
  window-open {
    spring damping-ratio=1.0 stiffness=2000 epsilon=0.0001
  }
  window-close {
    spring damping-ratio=1.0 stiffness=2000 epsilon=0.0001
  }
}


window-rule {
  geometry-corner-radius 10
  default-column-width { proportion 0.75; }
  clip-to-geometry true
  draw-border-with-background false

  shadow {
    off
    softness 12
    spread 4
    offset x=0 y=0
    draw-behind-window true
    color "#00000070"
  }

  border {
    on
    width 2
    // active-gradient from="#f00f" to="#0f05" angle=45 in="oklch longer hue"
    active-color "#FFFFFF20"
    inactive-color "#FFFFFF05"
  }
}


window-rule {
  match is-floating=true

  shadow {
    on
    softness 12
    spread 4
    offset x=0 y=0
    draw-behind-window true
    color "#00000070"
    inactive-color "#00000020"
  }

  focus-ring {
    off
  }

  border {
    off
  }
}

window-rule {
  match title=r#"(?i)gmail"#
  match title=r#"(?i)inertia"#
  match title="Signal"

  // block-out-from "screen-capture"
}

window-rule {
  match app-id="zen$" title="^Picture-in-Picture$"
  match title="^Picture in picture$"

  open-floating true
  open-focused false
  default-floating-position x=32 y=32 relative-to="bottom-left"
}


window-rule {
  match app-id="spotify"
  match app-id="Blanket"
  match app-id="Nautilus"
  match app-id="disks"
  match app-id="font-viewer"
  match app-id="Blanket"
  match app-id="Amberol"
  match app-id="Fragments"
  default-column-width { proportion 0.5; }
}


window-rule {
  match app-id="zed"
  match app-id="zen"
  match app-id="vesktop"
  match app-id="hayase"
  match app-id="kitty"
  default-column-width { proportion 1.0; }
}


layer-rule {
  match namespace="^launcher$"
  match namespace="^wallpaper$"
  place-within-backdrop true
  shadow {
    on
    softness 30
    spread 4
    offset x=0 y=0
    draw-behind-window true
    color "#00000070"
  }
}


workspace "1"
workspace "2"
workspace "3"

binds {

  Mod+Shift+slash { show-hotkey-overlay; }
  Mod+Escape { spawn-sh "vicinae close; niri msg action toggle-overview"; }
  Mod+Shift+E { quit; }
  Mod+Shift+W { spawn "sh" "-c" "pgrep -x waybar > /dev/null && pkill waybar || waybar &"; }
  Mod+Return { spawn "kitty"; }
  Mod+Space { spawn "sh" "-c" "vicinae vicinae://toggle && vicinae vicinae://pop_to_root"; }
  Mod+M { spawn "vicinae" "vicinae://extensions/vicinae/core/search-emojis"; }
  Mod+B { spawn "vicinae" "vicinae://extensions/Gelei/bluetooth/devices"; }
  Mod+N { spawn "vicinae" "vicinae://extensions/dagimg-dot/wifi-commander/manage-saved-networks"; }
  Mod+C { spawn "vicinae" "vicinae://extensions/vicinae/clipboard/history"; }
  Mod+Shift+T { spawn "sh" "-c" "pgrep -x swaybg > /dev/null && pkill swaybg || swaybg --image ~/.config/niri/bg/* --mode fill &"; }
  Mod+Shift+Z { spawn "sh" "-c" "current_scale=$(niri msg outputs | grep -A 6 'eDP-1' | grep 'Scale' | awk '{print $2}'); [[ \"$current_scale\" == \"1.2\" ]] && niri msg output eDP-1 scale 1 || niri msg output eDP-1 scale 1.2"; }
  Mod+Q { spawn "sh" "-c" "mkdir -p ~/Videos/recording && FILENAME=~/Videos/recording/$(date '+%Y-%m-%d_%H-%M-%S').mp4 && if pgrep -x wl-screenrec > /dev/null; then pkill wl-screenrec; else wl-screenrec --output=eDP-1 --audio --audio-device bluez_output.98_47_44_15_6B_4F.1.monitor -f \"$FILENAME\"; fi"; }
  Mod+Shift+Q { spawn "sh" "-c" "mkdir -p ~/Videos/recording && FILENAME=~/Videos/recording/$(date '+%Y-%m-%d_%H-%M-%S').mp4 && if pgrep -x wl-screenrec > /dev/null; then pkill wl-screenrec; else GEOMETRY=$(slurp) && [ -n \"$GEOMETRY\" ] && wl-screenrec --geometry=\"$GEOMETRY\" --audio --audio-device bluez_output.98_47_44_15_6B_4F.1.monitor -f \"$FILENAME\"; fi"; }
  Mod+A { close-window; }
  Mod+O { spawn "nautilus"; }
  Mod+Z { spawn "zed"; }
  Mod+W { spawn "zen-browser";}
  Mod+Shift+V { spawn "sh" "-c" "warp-cli status | grep -q Connected && warp-cli disconnect || warp-cli connect"; }
  Mod+Shift+C { spawn "hyprpicker" "-a";}
  Mod+Semicolon { spawn "swaylock" "--image" ".config/swaylock/locked.png" "--clock";}

  Mod+1                    { focus-workspace 1; }
  Mod+2                    { focus-workspace 2; }
  Mod+3                    { focus-workspace 3; }
  Mod+4                    { focus-workspace 4; }
  Mod+5                    { focus-workspace 5; }
  Mod+6                    { focus-workspace 6; }
  Mod+7                    { focus-workspace 7; }
  Mod+8                    { focus-workspace 8; }

  Mod+Shift+1              { move-column-to-workspace 1; }
  Mod+Shift+2              { move-column-to-workspace 2; }
  Mod+Shift+3              { move-column-to-workspace 3; }
  Mod+Shift+4              { move-column-to-workspace 4; }
  Mod+Shift+5              { move-column-to-workspace 5; }
  Mod+Shift+6              { move-column-to-workspace 6; }
  Mod+Shift+7              { move-column-to-workspace 7; }
  Mod+Shift+8              { move-column-to-workspace 8; }

  Mod+L { focus-column-right-or-first; }
  Mod+H { focus-column-left-or-last; }
  Mod+K { focus-window-or-workspace-up; }
  Mod+J { focus-window-or-workspace-down;}
  Alt+Tab { focus-column-right-or-first; }
  Alt+Shift+Tab { focus-column-left-or-last; }

  Mod+Shift+L { move-column-right; }
  Mod+Shift+H { move-column-left; }
  Mod+Shift+J { move-window-down-or-to-workspace-down; }
  Mod+Shift+K { move-window-up-or-to-workspace-up; }
  Mod+Shift+9 { move-column-to-first; }
  Mod+Shift+0  { move-column-to-last; }

  mod+ctrl+h  { focus-monitor-left; }
  mod+ctrl+l { focus-monitor-right; }
  mod+ctrl+j  { focus-monitor-down; }
  mod+ctrl+k    { focus-monitor-up; }

  Mod+Shift+Ctrl+H  { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+L { move-column-to-monitor-right; }
  Mod+Shift+Ctrl+J  { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K    { move-column-to-monitor-up; }

  Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
  Mod+Alt+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Alt+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight cooldown-ms=150 { focus-column-right; }
  Mod+WheelScrollLeft cooldown-ms=150 { focus-column-left; }
  Mod+Alt+WheelScrollRight cooldown-ms=150 { move-column-right; }
  Mod+Alt+WheelScrollLeft cooldown-ms=150 { move-column-left; }

  Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-column-right; }
  Mod+Shift+WheelScrollUp cooldown-ms=150 { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp cooldown-ms=150 { move-column-left; }

  Alt+WheelScrollDown cooldown-ms=150 {spawn "sh" "-c" "niri msg action set-window-height -15%; niri msg action set-window-width -15%"; }
  Alt+WheelScrollUp cooldown-ms=150 {spawn "sh" "-c" "niri msg action set-window-height +15%; niri msg action set-window-width +15%"; }

  Mod+Shift+Alt+I         { move-workspace-down; }
  Mod+Shift+Alt+U         { move-workspace-up; }
  Mod+Shift+Alt+Page_Down { move-workspace-down; }
  Mod+Shift+Alt+Page_Up   { move-workspace-up; }

  Mod+Shift+Alt+H     { move-workspace-to-monitor-left; }
  Mod+Shift+Alt+J     { move-workspace-to-monitor-down; }
  Mod+Shift+Alt+K     { move-workspace-to-monitor-up; }
  Mod+Shift+Alt+L     { move-workspace-to-monitor-right; }
  Mod+Shift+Alt+Left  { move-workspace-to-monitor-left; }
  Mod+Shift+Alt+Down  { move-workspace-to-monitor-down; }
  Mod+Shift+Alt+Up    { move-workspace-to-monitor-up; }
  Mod+Shift+Alt+Right { move-workspace-to-monitor-right; }

  Mod+U              { focus-workspace-down; }
  Mod+I              { focus-workspace-up; }
  Mod+Page_Down      { focus-workspace-down; }
  Mod+Page_Up        { focus-workspace-up; }

  Mod+Shift+U         { move-column-to-workspace-down; }
  Mod+Shift+I         { move-column-to-workspace-up; }
  Mod+Shift+Page_Down { move-column-to-workspace-down; }
  Mod+Shift+Page_Up   { move-column-to-workspace-up; }

  Mod+TouchpadScrollDown { spawn "light" "-A" "1"; }
  Mod+TouchpadScrollUp   { spawn "light" "-U" "1"; }

  Mod+P { screenshot-screen; }
  Mod+Shift+P { screenshot; }
  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }
  Mod+Alt+P {
    spawn "sh" "-c" "wl-paste --type image/png | swappy -f -";
  }


  Mod+Comma  { consume-or-expel-window-left; }
  Mod+Period { consume-or-expel-window-right; }
  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { reset-window-height; }
  Mod+X { maximize-column; }
  Mod+V { toggle-window-floating; }
  Mod+Tab { switch-focus-between-floating-and-tiling; }
  Mod+Shift+F { fullscreen-window; }

  Mod+T { toggle-column-tabbed-display; }
  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  Mod+Shift+Equal { set-window-height "+10%"; }
  Mod+Shift+Minus { set-window-height "-10%"; }

  Alt+Shift+Equal { spawn "brightnessctl" "set" "+5%"; }
  Alt+Shift+Minus { spawn "brightnessctl" "set" "5%-"; }

  Alt+Equal { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
  Alt+Minus { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }

  XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
  XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
  XF86TouchpadToggle allow-when-locked=true {
    spawn "niri" "msg" "input" "toggle" "touchpad"
  }

  Xf86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "+5%"; }
  Xf86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }
  Alt+Prior allow-when-locked=true { spawn "light" "-A" "1"; }
  Alt+Next allow-when-locked=true { spawn "light" "-U" "1"; }
}
